body {
    background-image: url("../images/background.png");
  }
  
  header {
    padding: 70px 0px;
  }
  
  .logo {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  

  h1 {
      color: #b9137c;
      font-family: 'Barrio', sans-serif;
      font-size: 100px;
  }
  
  .initialText {
      font-size: 20px;
      color: white;
      letter-spacing: 1.5px;
  }
  
  .startButton, .resetButton {
    margin-top: 175px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-color: hotpink;

  }
  
  .timerText {
    font-size: 15px;
    color: white;
  }
  
  .questionText {
    font-size: 25px;
    color: white;
  }
  
  .correctText, .wrongText, .timeOutText, .finishedText {
      font-size: 25px;
      color: white;
  }
  
  .summaryCorrect, .summaryWrong, .summaryUnanswered {
    font-size: 25px;
    color: white;
  }
  
  #timer {
      color: #7db539;
      font-size: 30px;
      font-weight: bold;
  }
  
  .answer:hover {
    background: lightblue;
  }
  
  .answer {
    height: 45px;
    width: 250px;
    color: black;
    background-color: white;
    border-radius: 4px;
    margin-left: auto;
    margin-right:auto;
  }
  
  .imgWrong, .imgCorrect {
    margin-top: 8px;
    width: 250px;
    height: 250px;
  }
  
  .questionText {
    margin-bottom: 20px;
  }
  
  .resetButton {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
  }
  
  .summaryCorrect {
    margin-top: 40px;
  }
  
  .summaryCorrect, .summaryWrong, .summaryUnanswered {
    margin-left: auto;
    margin-right: auto;
  }